<form>
  <div class="formgrid grid">
    <div class="field col-12 md:col-6">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
        <input type="text" pInputText placeholder="Ship Name" />
      </div>
    </div>

    <div class="field col-12 md:col-6">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-clock"></i></span>
        <input type="date" pInputText />
        <span class="p-inputgroup-addon">Class&Statutory</span>
      </div>
    </div>

    <div class="field col-12 md:col-6 lg:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-clock"></i></span>
        <input type="date" pInputText />
        <span class="p-inputgroup-addon">IOPP</span>
      </div>
    </div>

    <div class="field col-12 md:col-6 lg:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-clock"></i></span>
        <input type="date" pInputText />
        <span class="p-inputgroup-addon">BWM</span>
      </div>
    </div>

    <div class="field col-12 md:col-6 lg:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-clock"></i></span>
        <input type="date" pInputText />
        <span class="p-inputgroup-addon">DD</span>
      </div>
    </div>

    <div class="field col-12 md:col-6 lg:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-clock"></i></span>
        <input type="date" pInputText />
        <span class="p-inputgroup-addon">ISM</span>
      </div>
    </div>

    <div class="field col-12 md:col-6 lg:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-clock"></i></span>
        <input type="date" pInputText />
        <span class="p-inputgroup-addon">ISPS</span>
      </div>
    </div>

    <div class="field col-12 md:col-6 lg:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-clock"></i></span>
        <input type="date" pInputText />
        <span class="p-inputgroup-addon">MLC</span>
      </div>
    </div>

    <div class="field col-12 md:col-6 lg:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-clock"></i></span>
        <input type="date" pInputText />
        <span class="p-inputgroup-addon">DOC</span>
      </div>
    </div>

    <div class="field col-12 md:col-6 lg:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-clock"></i></span>
        <input type="date" pInputText />
        <span class="p-inputgroup-addon">IHM</span>
      </div>
    </div>
  </div>
</form>
